
[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=odoo
Group=www-data
#Restart=always
#WorkingDirectory=/home/odoo/react_server/Flask/
ExecStart=/usr/bin/uwsgi --ini /home/odoo/react_server/flaskProject/app.ini
#KillSignal=SIGQUIT
#Type=notify
#StandardError=syslog
#NotifyAccess=all

[Install]
WantedBy=multi-user.target
